<h1>Parts</h1>

<mat-grid-list cols="4" rowHeight="2:2">
    <mat-grid-tile *ngFor="let part of parts">
        
   <div *ngIf="(part.id % 10 === 1)">
    <h2>{{part.type}}</h2>
</div>
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ part.name }}</mat-card-title>
                <mat-card-subtitle>{{ part.price | currency }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    <img [src]="'assets/' + part.id + '.png'" style="max-width: 200px;">
                </p>
            </mat-card-content>
            <button mat-raised-button type="button" [routerLink]="['/parts', part.id]">
                View Details
            </button>
        </mat-card>
    </mat-grid-tile>
