<div class="project">
    <h1>Welcome to Andromeda!</h1>
    <p>Andromeda is a rocket assembly service that allows you to pick the parts of your rocket according to your needs. We offer top of the line building, testing, and shipping to our valued customers for over 60 years.</p>
    <h3>See what your new space-faring ship can be!</h3>
    <button mat-raised-button color="white" [routerLink]="['/parts']">View Parts</button>
    <button mat-raised-button color="white" [routerLink]="['/builder']">View Builder</button>
</div>

<div class="project">
    <mat-grid-list cols="4" rowHeight="2:2">
        <mat-grid-tile>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Pedro Vasconsoles</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                        <img src="assets/pedro.jpg" style="max-width: 200px;">
                        <p>Email: jpv0016"&#64;"auburn.edu</p>
                        <p>Roles: Team Lead, Head Mage</p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Jeremy Wang</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                        <img src="assets/jeremy.jpg" style="max-width: 200px;">
                        <p>Email: jdw0134"&#64;"auburn.edu</p>
                        <p>Roles: UI/UX Designer, Salt of the Team</p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Joe VollenWeider</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                        <img src="assets/joe.jpg" style="max-width: 200px;">
                        <p>Email: jpv0017"&#64;"auburn.edu</p>
                        <p>Roles: Head Research Scientist, Dilly of the Dally</p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Jacob Byrd</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                        <img src="assets/jacob.png" style="max-width: 200px;">
                        <p>Email: jpb0095"&#64;"auburn.edu</p>
                        <p>Roles: Graphic Designer, Mother</p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
     </mat-grid-list>

</div>