<div class="project">
    <h1>Welcome to Andromeda!</h1>
    <p>Andromeda is a rocket assembly service that allows you to pick the parts of your rocket according to your needs. We offer top of the line building, testing, and shipping to our valued customers for over 60 years.</p>
    <h3>See what your new space-faring ship can be!</h3>
    <button mat-raised-button color="primary" [routerLink]="['/parts']">View Parts</button>
    <button mat-raised-button color="primary" [routerLink]="['/builder']">View Builder</button>
</div>