<div class="projectdiv">
    <div class = 'projecttext'>
        <h1>Welcome to Andromeda!</h1>
        <p>Andromeda is a rocket assembly service that allows you to pick the parts of your rocket according to your needs. We offer top of the line building, testing, and shipping to our valued customers for over 60 years.</p>
        <h3>See what your new space-faring ship can be!</h3>
        <button mat-raised-button color="white" [routerLink]="['/parts']" style="margin-right: 15px;">View Parts</button>
        <button mat-raised-button color="white" [routerLink]="['/builder']">View Builder</button>
    </div>
    <div class="projectimg">
        <img class="logo" src="assets/logo.png">
    </div>
</div>

<div class="authorsdiv">
    <mat-grid-list cols="2" rowHeight="2:2">
        <mat-grid-tile>
            <app-author [authorName]="'Pedro Vasconcelos'" [authorImg]="'assets/pedro.jpg'" [authorEmail]="'jpv0016@auburn.edu'" [authorRole]="'Team Lead, Grand Wizard of the Council'"></app-author>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-author [authorName]="'Jeremy Wang'" [authorImg]="'assets/jeremy.jpg'" [authorEmail]="'jdw0134@auburn.edu'" [authorRole]="'UI/UX Designer, Salt of the Team'"></app-author>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-author [authorName]="'Joe VollenWeider'" [authorImg]="'assets/joe.jpg'" [authorEmail]="'jpv0017@auburn.edu'" [authorRole]="'Head Research Scientist, Dilly of the Dally'"></app-author>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-author [authorName]="'Jacob Byrd'" [authorImg]="'assets/jacob.png'" [authorEmail]="'jpb0095@auburn.edu'" [authorRole]="'Graphic Designer, Mother'"></app-author>
        </mat-grid-tile>
     </mat-grid-list>

</div>