<div>
    <button mat-icon-button aria-label="Cone Image"><img mat-card-image [src]="getImage('Cone')" alt="Photo of your soon to be Cone"></button>
</div>

<button mat-icon-button aria-label="Crew Image"><img mat-card-image [src]="getImage('Crew')" alt="Photo of your soon to be Crew"></button>
<button mat-icon-button aria-label="Cargo Image"><img mat-card-image [src]="getImage('Cargo')" alt="Photo of your soon to be Cargo"></button>
<button mat-icon-button aria-label="Fins Image"><img mat-card-image [src]="getImage('Fins')" alt="Photo of your soon to be Fins"></button>
<button mat-icon-button aria-label="Fins Image"><img mat-card-image [src]="getImage('Fins', true)" alt="Photo of your soon to be Fins"></button>
<button mat-icon-button aria-label="Engine Image"><img mat-card-image [src]="getImage('Engine')" alt="Photo of your soon to be Engine"></button>
