img {
    width: 100%;
    align-items: center;
}

div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding-top: 0%;
    padding-bottom: 1%;
    padding-left: 40%;
    padding-right: 40%;
}

.fins {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0%;
    padding-bottom: 1%;
    padding-left: 35%;
    padding-right: 35%;
}

button {
    padding: 0%;
    align-items: center;
    background-color: #add8E6;
}