img {
    width: 100%;
    align-items: center;
}

div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding-top: 0%;
    padding-bottom: 1%;
    padding-left: 40%;
    padding-right: 40%;
}

.fins {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0%;
    padding-bottom: 1%;
    padding-left: 35%;
    padding-right: 35%;

    margin-right:6%;
}

button {
    width: 50%;
    padding: 0%;
    align-items: center;
    background-color: rgba(250,240,230,0.8);;
}

p {
    padding: 5%;
    font-size: large;
    align-items: center;
    text-align: center;
    border-width: 1px;
    border-color: black;
    background-color: rgba(250,240,230,0.8);;
    margin:10px;
}

.finalPrice {
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 200px;
    border-width: 2px;
    border-color: black;
    background-color: rgba(250,240,230,0.8);;
    overflow: hidden;
    padding: 0%;
    margin-bottom: 10px;
}

.bottom {
    padding:5%;

}
