<div>
    <h2>Do you want to swap for a new {{data.newPart.type}}?</h2>
    <mat-grid-list cols="2" rowHeight="2:2">
        <mat-grid-tile>
            <div class = "parts">
                <img [src]="'assets/' + data.newPart.id + '.png'" style="max-width: 200px;">
                <h3>New: {{data.newPart.name}}</h3>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class = "parts">
                <img [src]="'assets/' + data.oldPart.id + '.png'" style="max-width: 200px;">
                <h3>Current: {{data.oldPart.name}}</h3>
            </div>
        </mat-grid-tile>
    </mat-grid-list>


        <button mat-raised-button (click)="onConfirm()">Confirm</button>
        <button mat-raised-button (click)="onCancel()">Cancel</button>
</div>