<div *ngIf="part">
  <h1>{{ part.name }}</h1>
  <img [src]="'assets/' + part.id + '.png'" style="max-width: 300px;">
  <mat-divider style="color: black;"></mat-divider>
  <p>{{ part.description }}</p>
  <mat-divider style="color: black;"></mat-divider>
  <p>Price: {{ part.price | currency }}</p>
  <p>Type: {{ part.type }}</p>
  <p>Weight: {{ part.weight }} kg</p>
  <p *ngIf="part.aero">Aerodynamics: {{ part.aero }}</p>
  <p *ngIf="part.turn">Turning Speed: {{ part.turn }}</p>
  <p *ngIf="part.capacity">Crew Capacity: {{ part.capacity }}</p>
  <p *ngIf="part.thrust">Thrust: {{ part.thrust }} kN</p>
  <p *ngIf="part.efficiency">Fuel Efficiency: {{ part.efficiency }} %</p>
  <p *ngIf="part.fuel">Fuel Capacity: {{ part.fuel }} kg</p>

  <button type="button" (click)="addToCart(part)">Buy</button>
  <button type="button" (click)="goBack()" style="background-color:grey">Back</button>
</div>
