<div class="yellowstripe"></div>
<a [routerLink]="['/']">
  <img src="assets/andromeda_banner_layer_1.png" alt="andromeda banner" style="height: 70px; position: absolute; top: 0px; left: 35%;">
  <img src="assets/stars_right.png" alt="stars" style="height: 70px; left: 5%; top: 0px; position: absolute;">
  <img src="assets/stars_right.png" alt="stars" style="height: 70px; right: 10%; top: 0px; position: absolute;">
</a>

<a routerLink="/parts" class="button fancy-button" style="position: absolute; top: 14px; right: 120px;"><em class="material-icons">shopping_cart</em>Parts</a>
<a routerLink="/builder" class="button fancy-button" style="position: absolute; top: 14px; right: 14px;"><em class="material-icons">rocket</em>Builder</a>
